@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import "hover";

.header {
  height: 96px;
  background-color: var(--dark-bg);
  &__container {
    max-width: 1350px;
	  margin: 0 auto;
	  padding: 0 15px;
    height: 100%;
  }
  &__logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 270px;
      width: 100%;
    }
  }
  &__contacts-link {
    display: block;
    color: #fff;
    font-weight: 700;
  }
  &__tel {
    font-size: 25px;
  }
  &__mail {
    text-transform: uppercase;
    font-size: 23px;
  }
  &__nav {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__nav-link {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: center;
    &:not(:first-child)::before {
      content: '';
      height: 20px;
      width: 2px;
      background-color: #fff;
      display: inline-block;
      margin: 0 6px;
      flex-shrink: 0;
    }
  }
}

.nav-link {
  height: 100%;
  &__wrp {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }
  &__bg {
    padding: 0px 4px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background-color: #323c4e;
      left: 0;
      right: 0;
      top: 0;
      opacity: 0;
      transition: opacity 0.25s;
    }
  }
  &__text {
    position: relative;
  }
  &__border {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #26a5e4;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.25s;
    &::after {
      content: '';
      position: absolute;
      width: 26px;
      height: 10px;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      background-color: #26a5e4;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 0;
      transform: translateY(-100%);
      opacity: 0;
      transition: opacity 0.25s;
    }
  }
}

.hero {
  min-height: calc(100vh - 96px);
  position: relative;
  padding: 28px 0;
  margin-bottom: 84px;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__container {
    max-width: 1350px;
	  margin: 0 auto;
	  padding: 0 15px;
    height: 100%;
    position: relative;
  }
  &__callback {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.308);
    border: 1px solid #fff;
  }
  &__title {
    text-shadow: 1px 1px rgb(27, 33, 44);
  }
  &__subtitle {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 1px 1px rgb(27, 33, 44);
  }
  &__btn {
    display: block;
    margin-top: 77px;
    width: 536px;
    height: 120px;
    background-image: url(../images/decor/hero-btn.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }
  &__btn-wrp {
    position: relative;
    width: fit-content;
    &::before {
      position: absolute;
      content: '';
      width: 668px;
      height: 245px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url(../images/decor/hero-btn-shadow.png);
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0;
      transition: opacity 0.25s;
    }
  }
  &__btn-text {
    font-size: 28px;
    color: #fff;
    font-weight: 700;
    position: absolute;
    width: 400px;
    left: 132px;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
  }
}

.hero-callback {
  &__top {
    padding: 14px;
  }
  &__top-text {
    font-size: 26px;
    color: rgb(6, 33, 78);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
  }
  &__soc {
    display: flex;
    align-items: center;
    gap: 4px;
    span {
      font-size: 28px;
      color: rgb(6, 33, 78);
      font-weight: bold;
      text-decoration: underline;
      text-transform: uppercase;
      line-height: 1.1;
      text-align: left;
      text-indent: -0.28px;
      transition: color 0.25s;
    }
  }
  &__middle {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.322);
    padding: 16px 26px;
    border: 1px solid #fff;
    text-align: center;
    color: var(--dark-blue);
    text-transform: uppercase;
  }
  &__form {
    padding: 16px 24px;
  }
}

.hcm {
  &__or {
    font-size: 30px;
    font-weight: bold;
  }
  &__request {
    font-size: 48px;
    font-weight: bold;
  }
  &__sm {
    font-size: 15px;
  }
}

.input {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  height: 46px;
  padding: 10px;
  font-size: 16px;
  color: var(--dark-blue);
  border: none;
  outline: none;
  &::placeholder {
    font-size: 16px;
    color: var(--dark-blue);
    text-transform: uppercase;
  }
}

.callback-form {
  &__input {
    margin-bottom: 14px;
  }
  &__btn {
    width: 100%;
    height: 46px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.86;
    text-align: center;
    text-indent: -0.28px;
    background-image: url(../images/decor/btn-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 14px;
    transition: box-shadow 0.25s;
  }
  &__policy {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark-blue);
    a {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

.section-wrp {
  background-color: #fff;
  border-radius: var(--r30);
  padding: 42px 65px;
}

.mission-text {
  font-size: 44px;
  font-weight: 400;
  text-transform: uppercase;
}

.product-card {
  background-color: #fff;
  border-radius: var(--r20);
  padding: 12px;
  transition: box-shadow 0.25s;
  &__img {
    border-radius: 16px;
    position: relative;
    padding-top: 74%;
    overflow: hidden;
    margin-bottom: 12px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__option {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  &__icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__model {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__spec {
    font-size: 20px;
    font-weight: 300;
  }
}

.footer {
  padding: 150px 0 40px;
  &__container {
    max-width: 1050px;
	  margin: 0 auto;
	  padding: 0 15px;
  }
  &__contact {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
    img {
      width: 46px;
      height: 46px;
      object-fit: contain;
    }
    span {
      font-size: 36px;
      font-weight: 700;
      text-shadow: 3px 3px #fff;
      text-transform: uppercase;
      transition: color 0.25s;
    }
  }
  &__nav {
    display: inline-block;
    margin-left: auto;
  }
  &__nav-link {
    font-size: 36px;
    font-weight: 700;
    text-shadow: 3px 3px #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    &::before {
      content: '';
      display: inline-block;
      width: 4px;
      height: 32px;
      margin-right: 8px;
      background-color: var(--dark-bg);
      opacity: 0;
      transition: opacity 0.25s;
    }
  }
  &__policy {
    display: block;
    font-size: 34px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    text-underline-offset: 6px;
    margin-bottom: 28px;
  }
  &__offert {
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__info {
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.product-list__btn {
  width: 350px;
  height: 77px;
  margin: 50px auto 0;
  .hero__btn-text {
    left: 100px;
    font-size: 20px;
    width: auto;
  }
}

.section-scheme {
  text-transform: uppercase;
}



@import "media";