@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import "hover";

.header {
  height: 96px;
  background-color: var(--dark-bg);
  &__container {
    max-width: 1350px;
	  margin: 0 auto;
	  padding: 0 15px;
    height: 100%;
  }
  &__logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 270px;
      width: 100%;
    }
  }
  &__menu-btn {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9px;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: #263655;
    flex-shrink: 0;
    span {
      width: 46px;
      height: 6px;
      border-radius: 5px;
      background-color: #fff;
    }
  }
  &__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: #263655;
    flex-shrink: 0;
    img {
      width: 38px;
      height: 38px;
      object-fit: contain;
    }
  }
  &__contacts-link {
    display: block;
    color: #fff;
    font-weight: 700;
  }
  &__tel {
    font-size: 25px;
  }
  &__mail {
    text-transform: uppercase;
    font-size: 23px;
  }
  &__nav {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__nav-link {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: center;
    &:not(:first-child)::before {
      content: '';
      height: 20px;
      width: 2px;
      background-color: #fff;
      display: inline-block;
      margin: 0 6px;
      flex-shrink: 0;
    }
  }
}

.header_scroll {
  height: 96px;
  background-color: var(--dark-bg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transform: translateY(-105%);
  transition: transform 0.25s;
  &.__show {
    transform: translateY(0);
  }
}

.nav-link {
  height: 100%;
  &__wrp {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }
  &__bg {
    padding: 0px 4px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background-color: #323c4e;
      left: 0;
      right: 0;
      top: 0;
      opacity: 0;
      transition: opacity 0.25s;
    }
  }
  &__text {
    position: relative;
  }
  &__border {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #26a5e4;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.25s;
    &::after {
      content: '';
      position: absolute;
      width: 26px;
      height: 10px;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      background-color: #26a5e4;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 0;
      transform: translateY(-100%);
      opacity: 0;
      transition: opacity 0.25s;
    }
  }
}

.hero {
  overflow: hidden;
  min-height: calc(100vh - 96px);
  position: relative;
  padding: 28px 0;
  margin-bottom: 84px;
  &::after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    background: linear-gradient(180deg, rgb(2, 16, 52), rgba(16, 52, 0, 0) 24%);
    pointer-events: none;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__container {
    max-width: 1350px;
	  margin: 0 auto;
	  padding: 0 15px;
    height: 100%;
    position: relative;
    z-index: 1;
  }
  &__callback {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.708);
    border: 1px solid #fff;
  }
  &__title {
    text-shadow: 2px 2px rgb(27, 33, 44);
  }
  &__subtitle {
    @include adaptiv-value("font-size", 40, 15, 1);
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px rgb(27, 33, 44);
  }
  &__btn {
    display: block;
    margin-top: 77px;
    width: 536px;
    height: 120px;
    background-image: url(../images/decor/hero-btn.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
  }
  &__btn-wrp {
    position: relative;
    width: fit-content;
    &::before {
      position: absolute;
      content: '';
      width: 668px;
      height: 245px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url(../images/decor/hero-btn-shadow.png);
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0;
      transition: opacity 0.25s;
    }
  }
  &__btn-text {
    font-size: 28px;
    color: #fff;
    font-weight: 700;
    position: absolute;
    width: 400px;
    left: 132px;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
  }
  &__modal-btn {
    display: none;
    border-radius: 16px;
    background-color: rgba(255, 254, 254, 0.788);
    border: 1px solid #fff;
    padding: 8px 12px;
    position: absolute;
    bottom: 66px;
    left: 20px;
    right: 20px;
    margin: 0 auto;
    text-align: center;
  }
  &__modal-btn-title {
    font-size: 34px;
    color: #263655;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 700;
  }
  &__modal-btn-subtitle {
    font-size: 22px;
    color: #263655;
    text-transform: uppercase;
  }
}

.action-img {
  display: none;
}

.hero-callback {
  &__top {
    padding: 14px;
  }
  &__top-text {
    font-size: 26px;
    color: rgb(6, 33, 78);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
    text-shadow: 1px 1px #ffffff;
  }
  &__soc {
    display: flex;
    align-items: center;
    gap: 4px;
    span {
      font-size: 28px;
      color: rgb(6, 33, 78);
      font-weight: bold;
      text-decoration: underline;
      text-transform: uppercase;
      line-height: 1.1;
      text-align: left;
      text-indent: -0.28px;
      transition: color 0.25s;
      text-shadow: 1px 1px #ffffff;
    }
  }
  &__middle {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.322);
    padding: 16px 26px;
    border: 1px solid #fff;
    text-align: center;
    color: var(--dark-blue);
    text-transform: uppercase;
  }
  &__form {
    padding: 16px 24px;
  }
}

.hcm {
  &__or {
    font-size: 30px;
    font-weight: bold;
  }
  &__request {
    font-size: 42px;
    font-weight: bold;
  }
  &__sm {
    font-size: 15px;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: var(--dark-bg);
  color: #fff;
  z-index: 200;
  transform: translateX(105%);
  transition: transform 0.25s;
  &.__show {
    transform: translateX(0);
  }
  &__header {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff73;
    margin-bottom: 26px;
  }
  &__nav {
    margin-bottom: 26px;
  }
  &__nav-link {
    display: block;
    padding: 16px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
  }
  &__contacts {
    margin-bottom: 26px;
  }
  &__contacts-link {
    padding: 8px 0;
    display: block;
    font-size: 30px;
    font-weight: 700;
  }
  &__close {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9px;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: #263655;
    flex-shrink: 0;
    position: relative;
    &::after, 
    &::before {
      content: '';
      position: absolute;
      width: 46px;
      height: 6px;
      border-radius: 5px;
      background-color: #fff;
    }
    &::after {
      transform: rotate(-45deg);
    }
    &::before {
      transform: rotate(45deg);
    }
  }
}

.input {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  height: 46px;
  padding: 10px;
  font-size: 16px;
  color: var(--dark-blue);
  border: 1px solid #06204e4d;
  outline: none;
  &::placeholder {
    font-size: 16px;
    color: var(--dark-blue);
    text-transform: uppercase;
  }
}

.callback-form {
  &__input {
    margin-bottom: 14px;
  }
  &__btn {
    width: 100%;
    height: 46px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.86;
    text-align: center;
    text-indent: -0.28px;
    background-image: url(../images/decor/btn-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 14px;
    transition: box-shadow 0.25s;
  }
  &__policy {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark-blue);
    a {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

.section-wrp {
  background-color: #fff;
  border-radius: var(--r30);
  padding: 42px 65px;
  overflow: hidden;
}
.swiper-wrapper.row {
  width: auto;
}

.mission-text {
  font-size: 44px;
  font-weight: 400;
  text-transform: uppercase;
}

.product-card {
  background-color: #fff;
  border-radius: var(--r20);
  padding: 12px;
  transition: box-shadow 0.25s;
  &__img {
    border-radius: 16px;
    position: relative;
    padding-top: 74%;
    overflow: hidden;
    margin-bottom: 12px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__option {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  &__icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__model {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__spec {
    font-size: 20px;
    font-weight: 300;
  }
}

.footer {
  padding: 150px 0 40px;
  &__container {
    max-width: 1050px;
	  margin: 0 auto;
	  padding: 0 15px;
  }
  &__contact {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
    img {
      width: 46px;
      height: 46px;
      object-fit: contain;
    }
    span {
      font-size: 36px;
      font-weight: 700;
      text-shadow: 3px 3px #fff;
      text-transform: uppercase;
      transition: color 0.25s;
    }
  }
  &__nav {
    display: inline-block;
    margin-left: auto;
  }
  &__nav-link {
    font-size: 36px;
    font-weight: 700;
    text-shadow: 3px 3px #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    &::before {
      content: '';
      display: inline-block;
      width: 4px;
      height: 32px;
      margin-right: 8px;
      background-color: var(--dark-bg);
      opacity: 0;
      transition: opacity 0.25s;
    }
  }
  &__policy {
    display: block;
    font-size: 34px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    text-underline-offset: 6px;
    margin-bottom: 28px;
  }
  &__offert {
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__info {
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__logo {
    display: none;
  }
}

.product-list__btn {
  width: 350px;
  height: 77px;
  margin: 50px auto 0;
  .hero__btn-text {
    left: 100px;
    font-size: 20px;
    width: auto;
  }
}

.section-scheme {
  text-transform: uppercase;
}

.back-to-top {
  cursor: pointer;
  display: none;
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 10;
  transition: all 0.5s;
  &:hover {
    transform: translateY(-3px);
  }
}

.page-decor {
  &__img {
    position: absolute;
    &.__top-left {
      left: 5%;
      top: 20%;
    }
    &.__top-right {
      right: 5%;
      top: 28%;
    }
    &.__middle-right {
      right: 5%;
      top: 50%;
    }
    &.__bottom-right {
      right: 5%;
      bottom: 10%;
    }
    &.__bottom-left {
      left: 5%;
      bottom: 20%;
    }
  }
}

section {
  position: relative;
}

.modal-callback {
  border-radius: 10px;
  background-color: var(--dark-bg);
  padding: 54px 15px 15px 15px;
  .fancybox-button.fancybox-close-small {
    display: none;
  }
  &__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
  }
  .hero__callback {
    border: none;
    background-color: transparent;
  }
  .hero-callback__middle {
    border: none;
    background-color: transparent;
    color: #fff;
  }
  .hero-callback__top-text {
    font-size: 32px;
    color: #fff;
  }
  .hero-callback__soc span {
    font-size: 18px;
    color: #fff;
  }
  .hcm__or,
  .hcm__request {
    font-size: 22px;
  }
  .callback-form__policy {
    color: #fff;
  }
}

.modal-policy {
  border-radius: 10px;
  padding: 54px 25px 25px 35px;
  max-width: 1200px;
  .fancybox-button.fancybox-close-small {
    display: none;
  }
  &__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
  }
}
.policy-text {
  font-size: 20px;
}

.slider-review {
  overflow: visible;
  &__wrapper {
    display: block;
  }
}

@import "media";