<footer class="footer">
  <div class="footer__container">
    <a class="footer__logo" href="#"><img src="/images/logo-footer.png" alt=""></a>
    <div class="row mb-5">
      <div class="col-md-6 order-1 order-md-0">
        <a href="tel:+79132630808" class="footer__contact">
          <img src="/images/icons/phone.png" alt="">
          <span>8-(913)-263-0808</span>
        </a>
        <a href="tel:+79237174771" class="footer__contact">
          <img src="/images/icons/phone.png" alt="">
          <span>8-(923)-717-4771</span>
        </a>
        <a href="mailto:yaponovod@bk.ru" class="footer__contact">
          <img src="/images/icons/mail.png" alt="">
          <span>yaponovod@bk.ru</span>
        </a>
        <a href="#" target="_blank" class="footer__contact">
          <img src="/images/icons/tg-nostroke.png" alt="">
          <span>telegram</span>
        </a>
      </div>
      <div class="col-md-6 text-md-end mb-4 mb-md-0">
        <nav class="footer__nav text-start">
          <a href="#about" class="footer__nav-link js-anchor">о нас</a>
          <a href="#price" class="footer__nav-link js-anchor">актуальные цены</a>
          <a href="#review" class="footer__nav-link js-anchor">Отзывы</a>
          <a href="#work" class="footer__nav-link js-anchor">Схема работы</a>
          <a href="#action" class="footer__nav-link js-anchor">Акция</a>
        </nav>
      </div>
    </div>
    <a href="#" class="footer__policy hover_orange" data-fancybox data-src="#modal-policy" data-options='{"touch" : false}'>Политика конфиденциальности</a>
    <p class="footer__offert">Данный Интернет-сайт носит исключительно информационный характер и ни при каких условиях
      не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса РФ. Для получения
      подробной информации о наличии и стоимости указанных товаров и (или) услуг, пожалуйста, обращайтесь к менеджерам
      японовод.</p>
    <p class="footer__info">ИП Леонова Татьяна Николаевна ИНН 220912661077 ОГРНИП 320222500064112</p>
  </div>
</footer>
</div>

<div class="modal-callback" id="modal-callback" style="display:none;">
  <button class="menu__close modal-callback__close-btn" title="Close" data-fancybox-close></button>
  <div class="hero__callback hero-callback">
    <div class="hero-callback__top">
      <p class="hero-callback__top-text">свяжитесь с нами</p>
      <div class="d-flex align-items-center justify-content-between">
        <a href="#" class="hero-callback__soc">
          <img src="/images/icons/tg.png" alt="">
          <span>telegram</span>
        </a>
        <a href="#" class="hero-callback__soc">
          <img src="/images/icons/wa.png" alt="">
          <span>whatsapp</span>
        </a>
      </div>
    </div>
    <div class="hero-callback__middle">
      <p class="hcm__or">или</p>
      <p class="hcm__request">оставьте заявку</p>
      <p class="hcm__sm">Наши менеджеры свяжутся с вами в ближайшее время</p>
    </div>
    <div class="hero-callback__form callback-form">
      <form>
        <input type="text" class="input callback-form__input" placeholder="ваше имя">
        <input type="tel" class="input callback-form__input js-mask-phone" placeholder="номер телефона">
        <button class="callback-form__btn" type="submit">отправить заявку</button>
        <p class="callback-form__policy">Нажимая на кнопку вы соглашаетесь с <a class="hover_orange" href="#" data-fancybox data-src="#modal-policy" data-options='{"touch" : false}'>Политикой
            конфиденциальности</a></p>
      </form>
    </div>
  </div>
</div>

<div class="modal-policy" id="modal-policy" style="display:none;">
  <button class="menu__close modal-callback__close-btn" title="Close" data-fancybox-close></button>
  <h3 class="h3 mb-4 mb-lg-5 text-center">Политика конфиденциальности</h3>
  <div class="content-wrapper policy-text">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque laborum labore nulla iste impedit magni adipisci, incidunt quae odit provident sed voluptatibus minima magnam repellendus porro neque tempora facilis ullam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque laborum labore nulla iste impedit magni adipisci, incidunt quae odit provident sed voluptatibus minima magnam repellendus porro neque tempora facilis ullam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque laborum labore nulla iste impedit magni adipisci, incidunt quae odit provident sed voluptatibus minima magnam repellendus porro neque tempora facilis ullam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque laborum labore nulla iste impedit magni adipisci, incidunt quae odit provident sed voluptatibus minima magnam repellendus porro neque tempora facilis ullam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque laborum labore nulla iste impedit magni adipisci, incidunt quae odit provident sed voluptatibus minima magnam repellendus porro neque tempora facilis ullam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque laborum labore nulla iste impedit magni adipisci, incidunt quae odit provident sed voluptatibus minima magnam repellendus porro neque tempora facilis ullam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, debitis neque laboriosam, in aperiam placeat ullam possimus impedit eum ex expedita dicta earum, fugiat dolor magnam sunt totam deleniti voluptatibus!
    Nemo aperiam atque repellendus maxime. Explicabo, iure praesentium vero omnis obcaecati alias a dolores earum labore ipsa voluptas sit quia, repellat doloremque autem, ratione provident dolor doloribus corrupti sunt error.
    Voluptates perferendis nostrum cum autem saepe quaerat asperiores, obcaecati nam rem quia? Maiores repellendus ut, enim eum minus culpa nesciunt dolorum deserunt assumenda ipsum amet accusantium consequuntur cumque. Fugit, eum.
    Totam sit incidunt a nostrum fugiat laborum, adipisci sequi hic eos nulla excepturi accusantium vel? Veniam, inventore eaque aperiam optio, perspiciatis quidem necessitatibus quo totam libero itaque, non voluptate quis?
    Porro ab aliquam libero impedit quasi est eligendi modi officia iusto nam rem eveniet, laborum delectus aspernatur fuga voluptatibus aperiam perferendis vitae necessitatibus blanditiis sed nihil vero cum veniam. Similique!
    Voluptatibus saepe repellat nobis dolorum, nulla quod unde qui quas necessitatibus perspiciatis rerum molestias accusamus odio cupiditate recusandae iste error laborum doloremque quisquam! Sit, assumenda! Molestias natus accusamus illo laudantium.
    Quisquam aperiam voluptatum itaque voluptatem quibusdam suscipit velit possimus dolorem quas harum mollitia ipsam, explicabo corrupti sunt omnis delectus. Dolorem ex mollitia enim cumque aut obcaecati eaque nostrum voluptates quas!
    Fugit, aliquid repudiandae amet quia ratione iste accusamus maiores voluptate vitae aut odio voluptatibus aperiam rerum deleniti temporibus! Aliquid pariatur nisi fugiat in, dolorem quis deserunt molestiae corrupti nemo rerum?
    Dolore quas doloremque earum aspernatur explicabo quaerat blanditiis tenetur, eveniet incidunt dignissimos voluptatibus ea nobis. Facilis perferendis quisquam, corporis vel quod ullam amet porro quidem? Nesciunt animi velit quas fugiat!
    Expedita asperiores culpa, quis voluptas laboriosam aut animi fugiat perferendis, nisi placeat, officia ipsum quas maiores dignissimos dolores ea dicta recusandae sequi laborum dolorum accusantium eligendi sunt deleniti unde! Eum.
    Voluptas distinctio, modi dignissimos vero voluptatem officiis reprehenderit eos praesentium quidem porro voluptate ad quaerat fugit, nulla natus laborum alias assumenda eaque minus impedit harum. Perspiciatis quam quaerat dolorum aliquid.
    Repudiandae laudantium eligendi tempore excepturi qui quas. Ratione quam explicabo iusto! Obcaecati adipisci amet nisi magni nobis distinctio consequatur cupiditate dicta libero corrupti, nam consequuntur inventore at nesciunt alias reiciendis!
    Quibusdam nemo perspiciatis est magni fugit? Suscipit autem, ex tempora reprehenderit eos tempore tenetur eum fugiat excepturi cupiditate sapiente, maiores doloribus. Fuga ab quae maxime vero illo aut neque molestiae!
    In molestiae illo vitae nemo ullam facilis, illum consequuntur veniam est, quisquam quas dolore fugiat eveniet excepturi quasi dolores consequatur praesentium modi at hic porro quaerat. Est dolore odit atque?
    Itaque placeat recusandae officiis at vero. Saepe consequuntur voluptate repellendus cupiditate, eveniet nemo. Quo quibusdam unde amet impedit tempore assumenda, totam sed ipsum, eum provident dicta nihil velit dolores molestiae.
    Totam consequuntur sequi velit voluptatem ad earum architecto, fugiat animi magnam ducimus. Esse optio possimus nemo aliquam quasi ex quaerat laborum ut soluta, autem placeat error. Magnam alias ea quia.
    Accusamus nulla laudantium quas voluptate illo rem quis, quod ab? Totam vero perferendis quos, molestiae distinctio officiis quasi in esse aut ea quisquam, maiores alias ducimus unde facere doloribus ullam.
    Voluptatum, veritatis facilis suscipit molestiae ut tenetur soluta quis officiis amet voluptates adipisci, recusandae minima eaque sed et veniam? Praesentium, aperiam ipsam eum accusamus labore amet debitis consectetur fugit? Quia?
    Eligendi, pariatur quidem illum reiciendis explicabo veritatis laudantium error! Suscipit, facilis incidunt. Aliquam facere excepturi delectus necessitatibus, veniam ipsa quos repellendus optio qui eaque numquam culpa expedita, quod, incidunt omnis.
    Error, sapiente rerum labore ex molestias officiis cumque ipsum praesentium autem aliquam dignissimos consequatur provident corporis necessitatibus perferendis voluptatum unde quo sit perspiciatis aperiam eligendi minima pariatur! Voluptates, esse et.</p>
  </div>
</div>

<div class="back-to-top noSelect">
  <img src="/images/decor/to-top.png" alt="">
</div>

<!-- <script src="js/main.min.js"></script> -->
<script src="js/main.js"></script>
</body>

</html>