<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>Японовод</title>

  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="manifest" href="/site.webmanifest" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="css/swiper-bundle.min.css">
  <link rel="stylesheet" href="css/style.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="js/accordion.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.mask.js"></script>
  <script src="js/swiper-bundle.min.js"></script>

</head>

<body>

  <div class="fade-area"></div>
  <div class="page">
    <div class="page__wrapper">
      <header class="header">
        <div class="header__container">
          <div class="row h-100 gx-xl-5">
            <div class="col-lg-4 h-100">
              <div class="header__logo">
              <a href="#" class="logo"><img src="/images/logo.png" alt="Японовод"></a>
            </div>
            </div>
            <div class="col-lg-8 h-100">
              <div class="d-flex align-items-center justify-content-between h-100">
                <nav class="header__nav">
                  <a href="#" class="header__nav-link nav-link"><span class="nav-link__wrp"><span class="nav-link__border"></span><span class="nav-link__bg"><span class="nav-link__text">о нас</span></span></span></a>
                  <a href="#" class="header__nav-link nav-link"><span class="nav-link__wrp"><span class="nav-link__border"></span><span class="nav-link__bg"><span class="nav-link__text">актуальные цены</span></span></span></a>
                  <a href="#" class="header__nav-link nav-link"><span class="nav-link__wrp"><span class="nav-link__border"></span><span class="nav-link__bg"><span class="nav-link__text">Отзывы</span></span></span></a>
                  <a href="#" class="header__nav-link nav-link"><span class="nav-link__wrp"><span class="nav-link__border"></span><span class="nav-link__bg"><span class="nav-link__text">Схема работы</span></span></span></a>
                  <a href="#" class="header__nav-link nav-link"><span class="nav-link__wrp"><span class="nav-link__border"></span><span class="nav-link__bg"><span class="nav-link__text">Акция</span></span></span></a>
                </nav>
                <div class="header__contacts">
                  <a href="tel:+79237174171" class="phone header__tel header__contacts-link hover_orange">8-(923)-717-4171</a>
                  <a href="tel:+79132630808" class="phone header__tel header__contacts-link hover_orange">8-(913)-263-0808</a>
                  <a href="mailto:yaponovod@bk.ru" class="mail header__mail header__contacts-link hover_orange">Yaponovod@bk.ru</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
